:root {
    --background:#171c48;
    --secondaryBackground: #00042e;
    --text: #fff;
    --purple: #828dff;
    --teal: #75dad3;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: var(--background); /* Using the background color from the theme */
    color: var(--text);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--text);
}
header {
    background-color: var(--secondaryBackground); /* Semi-transparent secondary background */
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    height: 50px;
    gap: 470px;
    align-items: center;
    vertical-align: middle;
    display: flex; 
    
}
i{
    margin-left: 20px;
    font-size: 20px;
    justify-self: start;
}
h1{
  font-size: 30px;
  margin-top: 9px;
  align-items: center;

}

content{
  align-items: center;

}


#currentTimer {
  
    font-size: 200px;
    margin-top: 80px;
    margin-bottom: 50px;
    color:rgb(178, 196, 225);
    border:1px solid var(--teal);
    border-radius: 20px;
    width: 650px;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: var(--purple); /* Use purple for buttons */
    color: var(--text);
    border: none;
    border-radius: 20px; /* Made the buttons rounder */
    cursor: pointer;
    margin: 5px;
    width: 150px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
    background-color: var(--teal); /* Use teal for button hover effect */
}

.buttons, .control-buttons {
    margin-bottom: 20px;
}
